## Observable Trends:

1. It's clear that the majority of the players are males; as shown in the Gender Demographics table where male players contribute to 84.03% where female players present only 14% therefore, it's expected to find that they cover most of the item purchases yet, the Avg Total Purchase per Person is higher in female players.

2. Most of the players fall in the age range between 15 and 24 as shown in the Age Demographics table, where they form around 63% of the total number of players.

3. The highest Avg Total Purchase per Person in all ages are players between 35 to 39 years old yet, the don't contibute much to the Total Purchase Value. On the other hand, players between 20 to 24 years old have the third highest average total purchase per person and contribute to the highest increase in Total Purchase Value.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [2]:
unique = len(purchase_data["SN"].unique())
Player_df = pd.DataFrame({"Total player":[unique]})
Player_df

   Total player
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data["Item ID"].unique())
Average_price = f'${purchase_data["Price"].mean():.2f}'
Total_purchases = len(purchase_data["Purchase ID"])
Total_revenue = f'${purchase_data["Price"].sum():.2f}'
Purchasing_analysis = pd.DataFrame({
    "Number of Unique Items":[unique_items],
    "Average Price":[Average_price],
    "Number of Purchases":[Total_purchases],
    "Total Revenue":[Total_revenue]
})

Purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
Unique_sn = purchase_data.drop_duplicates(subset=['SN'])
Count = Unique_sn["Gender"].value_counts()
Percentage = (Count/len(Unique_sn["Gender"])*100).map('{:,.2f}%'.format)
Gender_demographics = pd.DataFrame({"Total Count":Count,"Percentage of Players":Percentage})
Gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
Count2 = purchase_data["Gender"].value_counts()
only_male = purchase_data.loc[purchase_data["Gender"] == "Male","Price"]
only_female = purchase_data.loc[purchase_data["Gender"] == "Female","Price"]
only_others = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed","Price"]
Purchasing_analysis = pd.DataFrame({"Purchase Count": Count2,
                                    "Average Purchase Price": [f'${only_male.mean():.2f}', f'${only_female.mean():.2f}', f'${only_others.mean():.2f}'],
                                    "Total Purchase Value":[f'${only_male.sum()}', f'${only_female.sum()}', f'${only_others.sum()}'],
                                    "Avg Total Purchase per Person":[f'${only_male.sum()/Count[0]:.2f}', f'${only_female.sum()/Count[1]:.2f}', f'${only_others.sum()/Count[2]:.2f}']})
Purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0,9,14,19,24,29,34,39,70]
names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39",">40"]
Unique_sn["bins"] = pd.DataFrame(pd.cut(Unique_sn["Age"], bins, labels=names, include_lowest=True))
binsdf = Unique_sn.groupby(["bins"])
total_count = binsdf["Gender"].count()
player_percentage = (total_count/len(Unique_sn["Gender"])*100).map('{:,.2f}%'.format)
uniquesn_bindf = pd.DataFrame({ "Total Count": total_count,
                               "Percentage of Players": player_percentage})
uniquesn_bindf

/Users/yasminekhalifa/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       Total Count Percentage of Players
bins
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
<10             17                 2.95%
>40             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
purchase_data["bins"] = pd.DataFrame(pd.cut(purchase_data["Age"], bins, labels=names, include_lowest=True))
binsdf = purchase_data.groupby(["bins"])
purchase_count= binsdf["Price"].count()
average_price= binsdf["Price"].mean()
total_value= binsdf["Price"].sum()
purchase_total_person = (total_value/total_count)
Purchasing_analysis_age = pd.DataFrame({"Purchase Count": purchase_count,
                                        "Average Purchase Price":average_price, 
                                        "Total Purchase Value":total_value,
                                       "Avg Total Purchase per Person":purchase_total_person})
Purchasing_analysis_age.style.format({"Average Purchase Price":"${:,.2f}",
                                      "Total Purchase Value":"${:,.2f}",
                                     "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
sndf= purchase_data.groupby(["SN"])
total_purchase_value= sndf["Price"].sum()
average_purchase_price = sndf["Price"].mean()
purchase_count = sndf["Purchase ID"].count()
top_spender = pd.DataFrame({"Purchase Count":purchase_count,
                            "Average Purchase Price":average_purchase_price,
                            "Total Purchase Value":total_purchase_value})
top_spender.sort_values("Total Purchase Value", ascending=False).head(5).style.format({"Average Purchase Price":"${:,.2f}",
                                                                                   "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
itemdf= purchase_data.groupby(["Item ID", "Item Name"])
total_purchase_value= itemdf["Price"].sum()
Purchase_count = itemdf["Price"].count()
item_price= itemdf["Price"].mean()
Most_popular_items = pd.DataFrame({"Purchase Count":Purchase_count,
                                   "Item Price":item_price,
                                   "Total Purchase Value":total_purchase_value})
Most_popular_items.sort_values("Purchase Count", ascending=False).head(5).style.format({"Item Price":"${:,.2f}",
                                                                                   "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [14]:
Most_popular_items.sort_values("Total Purchase Value", ascending=False).head(5).style.format({"Item Price":"${:,.2f}",
                                                                                   "Total Purchase Value":"${:,.2f}"})